body, td, a, div, .p {
    font-family: arial, sans-serif
}

#osm {
    height: 400px;
    width: 1000px;
    margin-top: 120px;
    margin-left: 100px;
    z-index: 900;
}

.header-html {
    margin: 10px 0 0 300px;
    font: 45px bold;
    text-align: center;
}

.profile-html {
    border-radius: 90px;
    border: 5px solid black;
    margin: 10px 20px 0 0;
    font: 45px bold;
    width: 60px;
}

.logout-button {
    text-decoration: none;
    font: 20px bold;
    margin-right: 10px;
}

.edit-user-popup {
    border-radius: 10px;
    border: 5px solid black;
    width: 500px;
    height: 450px;
    z-index: 1000;
    background-color: #D4D7ED;
}

.auth-popup {
    border-radius: 10px;
    border: 5px solid black;
    width: 400px;
    height: 250px;
    z-index: 1000;
    background-color: #D4D7ED;
}
